[Desktop Entry]
Encoding=UTF-8
Name=krypttocoin
Comment=krypttocoin P2P Cryptocurrency
Comment[fr]=krypttocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=krypttocoin, eşten eşe kriptografik sanal para birimi
Exec=krypttocoin-qt %u
Terminal=false
Type=Application
Icon=krypttocoin128
MimeType=x-scheme-handler/krypttocoin;
Categories=Office;Finance;
